
<div>
    <h1>site map</h1>
    <% if @current_user %>
        <%= link_to("アカウント情報","/users/#{@current_user.id}") %>
        <%= link_to("ユーザー一覧","/users/index") %>
        <%# 大事 %>
        <%= link_to("ログアウト","/logout",{method: :post}) %>
    <% else %>
        <%= link_to("新規登録","/signup") %>
        <%= link_to("ログイン","/login") %>
    <% end %>
    
</div>