<div>
    <h2>アカウント情報の変更</h2>
    <% @user.errors.full_messages.each do |message| %>
        <div class="form-error">
        <%= message %>
        </div>
    <% end %>
    <%= form_tag("/users/#{@user.id}/update") do %>
        <p>ユーザー名</p>
        <input name="name" value="<%= @user.name %>">
        <p>メールアドレス</p>
        <input name="email" value="<%= @user.email %>">
        <p>パスワード</p>
        <input name="password" type="password" value="<%= @user.password %>">

        <input type="submit" value="保存">
    <% end %>
</div>