<div id="show">
    <img class="profile_image" src="<%= "/user_images/#{@user.image_name}" %>">
    <h2>
    　<%= @user.name %>
    </h2>
    <p>Email: <%= @user.email %></p>
    <p>password: <%= @user.password %></p>
    <% if @user.id == @current_user.id %>
      <%= link_to("edit","/users/#{@user.id}/edit")%>
    <% end %>
</div>