<div id="show">
    <img class="profile_image" src="<%= "/user_images/#{@user.image_name}" %>">
    <h2>
    　<%= @user.name %>
    </h2>
    <p>Email: <%= @user.email %></p>
    <%# パスワードの表示は管理者か本人のみ %>
     <%# 管理者か %>
    <% if @admin %>
      <p>password: <%= @user.password %></p>
    <%# ユーザー本人か %>
    <% elsif @user.id == @current_user.id %>
      <p>password: <%= @user.password %></p>
    <% end %>

    <%# 管理者か %>
    <% if @admin %>
      <%= link_to("edit","/users/#{@user.id}/edit")%>
    <%# ユーザー本人か %>
    <% elsif @user.id == @current_user.id %>
      <%= link_to("edit","/users/#{@user.id}/edit")%>
    <% end %>

</div>