<!DOCTYPE html>
<html>
  <head>
    <title>Sumple2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# フラッシュを表示 %>
  <% if flash[:notice]%>
    <div class="flash">
    <%= flash[:notice] %>
    </div>
  <% end %>
  <% if @current_user %>
    <p>
      こんにちは！ <%= @current_user.name %>さん
    </p>
  <% else%>
    <p>こんにちは！　ゲストさん</p>
  <% end %>

    <%= yield %>
  </body>
</html>
